

body {
    background-image: linear-gradient(#D9AFD9,#97D9E1);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1.125rem;
}

.container {
    width: 1024px;
    min-height: 300px;
    margin-left:auto;
    margin-right:auto;

}   

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:20px;
    padding-bottom: 20px;
    border-bottom: 1px lightgray;
}

main {
    min-height: 300px;
    display: flex;
    align-items: center;
}

.cards {    
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.card1 {
    background-image: url(images/image-background-card1.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
    width: 30%;
    border: 1px solid black;
}

.card2 {
    background-image: url(images/image-background-card2.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
    width: 30%;
    border: 1px solid black;
}

.card3 {
    background-image: url(images/image-background-card3.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
    width: 30%;
    border: 1px solid black;
}

.card1, .card2, .card3 {
    padding: 30px 30px 20px 30px;
    box-sizing: border-box;
}

.herobox1 {
    flex: 2;
    padding-right: 100px;
}

.herobox2 {
    width:50%;
    flex: 1;

}

h1 {
    font-size: 4rem;
    font-family: 'Baloo Bhai 2', cursive;
    margin-bottom: 1rem;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.9);
}

p {
    line-height: 1.75rem;
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 2rem;
    font-family: 'Baloo Bhai 2', cursive;
    margin-top: 20px;
}

.cards p {
font-size: 0.85rem;
line-height: 1.2rem;
margin-top: 10px;
}

i {
font-size: 40px;
margin: 20px;
}

.cards a {
    text-decoration: none;
    color: white;
}

.mybutton {
    background-color: white;
    text-decoration: none;
    color:black;
    padding: 10px 10px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.486);
}

.mybutton:hover {
background-color: hotpink;
}

a.mybutton {
    display:inline-block;
margin-top: 10px 10px;
}
 
.navigation a.mybutton {
    margin-left: 65px;
}

.testimonials {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 100px;
}

.tbox {
    border: 1px solid white;
    width: 47%;
    padding: 50px;
    box-sizing: border-box;
    margin-top: 50px;
}
